* {
    margin: 0;
    padding: 0; }
  
  body {
   /* The image used */
  background-image: url("Online\ survey.jpeg");
  bgproperties:"fixed";

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  
  nav {
    position: fixed; }
    nav .back-circle {
      position: absolute;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      overflow: hidden;
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      -webkit-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease;
      border-radius: 0 0 100% 0; }
      nav .back-circle::after {
        content: '';
        display: block;
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    nav .back-circle-1 {
      width: 310px;
      height: 310px;
      -webkit-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s; }
      nav .back-circle-1::after {
        background-color: #FF870C;
        opacity: 0.97;
        width: 600px;
        height: 600px;
        -webkit-box-shadow: 1px 1px 10px black;
        box-shadow: 1px 1px 10px black; }
    nav .back-circle-2 {
      width: 195px;
      height: 195px;
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s; }
      nav .back-circle-2::after {
        background-color: #DBDBDB;
        width: 370px;
        height: 370px;
        -webkit-box-shadow: 1px 1px 10px black;
        box-shadow: 1px 1px 10px black; }
    nav .back-circle-3 {
      width: 130px;
      height: 130px;
      -webkit-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s; }
      nav .back-circle-3::after {
        background-color: #00b4ce;
        width: 250px;
        height: 250px; }
    nav .nav-btn {
      position: absolute;
      -webkit-box-shadow: 1px 1px 10px black;
      box-shadow: 1px 1px 10px black;
      width: 200px;
      height: 200px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #DBDBDB; }
    nav .nav-bars {
      position: absolute;
      left: 58%;
      top: 58%; }
      nav .nav-bars .bar {
        width: 40px;
        height: 5px;
        border-radius: 2.5px;
        background-color: #888;
        margin: 5px;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease; }
    nav ul {
      position: absolute;
      list-style: none;
      -webkit-perspective: 1000px;
      perspective: 1000px; }
    nav li {
      position: absolute;
      display: block;
      width: 0px;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center; }
      nav li a {
        position: absolute;
        right: 0;
        top: 50%;
        text-decoration: none;
        height: 65px;
        width: 65px;
        border-radius: 50%;
        background-color: #5a5a5a;
        color: #ddd;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-box-shadow: 1px 1px 5px black;
        box-shadow: 1px 1px 5px black;
        font-size: 0.8em;
        font-weight: bold;
        font-family: abel, sans-serif;
        z-index: 9000;
        overflow: hidden;
        text-transform: uppercase; }
        nav li a ::after {
          opacity: 0.4;
          content: '';
          display: block;
          position: absolute;
          width: 50px;
          height: 200px;
          background-color: #eee;
          left: -60px;
          top: -50px;
          -webkit-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
          -webkit-transition: left 0.5s ease;
          -o-transition: left 0.5s ease;
          transition: left 0.5s ease; }
        nav li a:hover {
          color: #fff; }
          nav li a:hover ::after {
            -webkit-animation-name: link-light;
            animation-name: link-light;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s; }
    nav .link-1 {
      -webkit-transform: rotate(9deg);
      -ms-transform: rotate(9deg);
      transform: rotate(9deg);
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
      nav .link-1 span {
        -webkit-transform: rotate(-9deg);
        -ms-transform: rotate(-9deg);
        transform: rotate(-9deg); }
    nav .link-2 {
      -webkit-transform: rotate(27deg);
      -ms-transform: rotate(27deg);
      transform: rotate(27deg);
      -webkit-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s; }
      nav .link-2 span {
        -webkit-transform: rotate(-27deg);
        -ms-transform: rotate(-27deg);
        transform: rotate(-27deg); }
    nav .link-3 {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s; }
      nav .link-3 span {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    nav .link-4 {
      -webkit-transform: rotate(63deg);
      -ms-transform: rotate(63deg);
      transform: rotate(63deg);
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s; }
      nav .link-4 span {
        -webkit-transform: rotate(-63deg);
        -ms-transform: rotate(-63deg);
        transform: rotate(-63deg); }
    nav .link-5 {
      -webkit-transform: rotate(81deg);
      -ms-transform: rotate(81deg);
      transform: rotate(81deg);
      -webkit-transition-delay: 0.4s;
      -o-transition-delay: 0.4s;
      transition-delay: 0.4s; }
      nav .link-5 span {
        -webkit-transform: rotate(-81deg);
        -ms-transform: rotate(-81deg);
        transform: rotate(-81deg); }
  
  nav.active .nav-bars .bar-1 {
    -webkit-transform: translateY(10px) rotate(-405deg);
    -ms-transform: translateY(10px) rotate(-405deg);
    transform: translateY(10px) rotate(-405deg); }
  
  nav.active .nav-bars .bar-2 {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0; }
  
  nav.active .nav-bars .bar-3 {
    -webkit-transform: translateY(-10px) rotate(405deg);
    -ms-transform: translateY(-10px) rotate(405deg);
    transform: translateY(-10px) rotate(405deg); }
  
  nav.active .back-circle {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  
  nav.active .back-circle-1 {
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  
  nav.active .back-circle-2 {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  
  nav.active .back-circle-3 {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  
  nav.active li {
    width: 290px;
    -webkit-transition-delay: 0.75s;
    -o-transition-delay: 0.75s;
    transition-delay: 0.75s; }
  
  nav.active .link-1 {
    -webkit-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s; }
  
  nav.active .link-2 {
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s; }
  
  nav.active .link-3 {
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s; }
  
  nav.active .link-4 {
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  
  nav.active .link-5 {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  
  @-webkit-keyframes link-light {
    0% {
      left: -60px; }
    60% {
      left: 14px; }
    100% {
      left: 4px; } }
  
  @keyframes link-light {
    0% {
      left: -60px; }
    60% {
      left: 14px; }
    100% {
      left: 4px; } }
  
  main {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: abel, Arial, Helvetica, sans-serif; }
    main h1 {
      color: #FF870C;
      font-family: Arial, Helvetica, sans-serif; }
    main p {
      color: #DBDBDB; }
      .topright {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 18px;
      }      
  


      footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}


.logo{ 
	position: absolute; 
	top:0; 
	right: inherit; 
} 